header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    background: url("home.jpg");
    box-shadow: 0 .1rem .3rem black;
    width: 1300px;
    
}

header .heading{
    font-size: 3rem;
    color: green;
    padding: 1rem;
    text-align:center
}
header #menu{
    font-size: 3rem;
    color: grey;
    cursor:pointer;
    margin:1rem;
    display: none;
    
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: rgb(42, 69, 71);
    padding: 1rem;
    
    
}

header .navbar ul li{
    margin: 0 3rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

header .navbar ul li a:hover{
    color: pink;
}
h1.heading{
    color: chocolate;
}



